{% extends "ClubManager/base.html" %}

{% load i18n %}

{# Update identifier to the correct page!! #}
{% partialdef identifier %}
    <div id="title_block" hx-swap-oob="innerHTML">{% translate "// PAGE TITLE" %}</div>
    {% partial content %}
{% endpartialdef identifier %}

{% block title %}
    <div id="title_block">{% translate "// PAGE TITLE" %}</div>
{% endblock title %}

{% block content %}
    {% partialdef content inline %}
        <div id="content_block">// CONTENT GOES HERE</div>
    {% endpartialdef content %}
{% endblock content %}