{% extends "ClubManager/base.html" %}

{% load i18n %}
{% load partials %}

{% partialdef calendar %}
    <div id="title_block" hx-swap-oob="innerHTML">{% translate "Calendar" %}</div>
    {% partial content %}
{% endpartialdef calendar %}

{% block title %}
    <div id="title_block">{% translate "Calendar" %}</div>
{% endblock title %}

{% block content %}
    {% partialdef content inline %}
        <div id="content_block">// CONTENT GOES HERE</div>
    {% endpartialdef content %}
{% endblock content %}