{% extends "clubmanager/_base.html" %}

{% load i18n %}
{% load form_field %}
{% load avatar %}

{% block page_title %}
    <h1 class="page_title">
        <i class="fa-solid fa-people-group"></i>{% translate "Teams" %}
    </h1>
{% endblock page_title %}

{% block page_content %}
    {% if team %}
        <div class="flex flex-row items-center gap-2 mt-8">
            <h2 class="page_subtitle !border-b-0 !mt-0">{{ team.name }}</h2>

            {% if team.type == "INT" %}
                <div class="badge badge-info">
            {% else %}
                <div class="badge badge-accent">
            {% endif %}
                {{ team.get_type_display }}
            </div>

            <div class="flex justify-end grow">
                <a href="{% url "backend:teams:teams_delete" team.id %}" class="hidden laptop:flex btn btn-outline btn-error">
                    <i class="fa-solid fa-trash"></i>{% translate "Delete" %}
                </a>
            </div>
        </div>

        <div class="grid grid-cols-1 gap-2 mt-2">
            <a href="{% url "backend:teams:teams_delete" team.id  %}" class="laptop:hidden btn btn-outline btn-error">
                <i class="fa-solid fa-trash"></i>{% translate "Delete" %}
            </a>
        </div>
    {% else %}
        <h2 class="page_subtitle !border-b-0">{% translate "Create new team" %}</h2>
    {% endif %}

    {% if form.errors %}
        <div class="bg-error bg-opacity-50 border-error border-2 rounded-lg p-2 m-2">
            <div class="font-semibold text-error-content mb-1">{% translate "Error" %}</div>
            <div class="text-sm text-error-content">{% translate "Please correct the errors below before saving again." %}</div>
        </div>
    {% endif %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <h2 class="page_subtitle">{% translate "Team information" %}</h2>
        <div class="grid grid-cols-1 gap-1 gap-x-4 laptop:grid-cols-2 mt-2">
            {% form_field form.name %}
            {% form_field form.short_name %}
            {% form_field form.type %}
            {% form_field form.logo %}
        </div>

        <h2 class="page_subtitle">{% translate "Advanced configuration" %}</h2>
        <div class="grid grid-cols-1 gap-1 gap-x-4 laptop:grid-cols-2 mt-2">
            {% form_field form.number_pool %}
        </div>

        <button class="w-full mt-8 btn btn-neutral" type="submit">
            <i class="fa-solid fa-floppy-disk"></i>{% translate "Save" %}
        </button>
    </form>
{% endblock page_content %}