<!-- templates/clubmanager/_base.html -->

{% load compress %}
{% load static %}
{% load avatar %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en" data-theme="fantasy">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>ClubManager - {{ config.CLUBMANAGER_CLUB_NAME }}</title>

        {% compress css %}
            <link rel="stylesheet" href="{% static "src/output.css" %}" />
        {% endcompress %}

        <script src="https://kit.fontawesome.com/8189f10079.js" crossorigin="anonymous"></script>
        <script src="{% static "src/choices.js" %}"></script>
    </head>

    <body class="bg-base-100">
        <div class="drawer">
            <input id="menu-drawer" type="checkbox" class="drawer-toggle" />
            <div class="drawer-content flex flex-col">
                <header class="navbar bg-base-200 p-2.5 justify-between border-b border-neutral">
                    <div class="flex-none laptop:hidden">
                        <label for="menu-drawer" aria-label="open sidebar" class="btn btn-square btn-ghost">
                            <i class="fa-solid fa-bars text-xl"></i>
                        </label>
                    </div>

                    <a href="#" class="flex items-center space-x-3 mx-4">
                        {% if config.CLUBMANAGER_CLUB_LOGO %}
                            <img src="{% static config.CLUBMANAGER_CLUB_LOGO %}" class="w-8 h-8 laptop:w-14 laptop:h-14 rounded-full bg-base-content my-2" alt="Logo {{ config.CLUBMANAGER_CLUB_NAME }}" />
                        {% endif %}

                        <div class="text-lg laptop:text-3xl font-bold whitespace-nowrap text-base-content">
                            {% if config.CLUBMANAGER_CLUB_NAME != "ClubManager" %}
                                {{ config.CLUBMANAGER_CLUB_NAME }}<span class="hidden laptop:inline"> - ClubManager</span>
                            {% else %}
                                ClubManager
                            {% endif %}
                        </div>
                    </a>

                    <div class="mx-4 gap-x-2">
                        <div class="hidden laptop:flex">
                            {% if request.user.is_authenticated %}
                                <form action="{% url 'logout' %}?next={% url "frontend:index" %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-outline btn-neutral btn-sm">
                                        <i class="fa-solid fa-right-from-bracket"></i>Log out
                                    </button>
                                </form>
                            {% else %}
                                <a class="btn btn-outline btn-neutral btn-sm"  href="{% url "two_factor:login" %}">
                                    <i class="fa-solid fa-arrow-right-to-bracket"></i>{% translate "Login" %}
                                </a>
                            {% endif %}
                        </div>

                        {% if request.user.is_authenticated %}
                            <!-- TODO Needs to be hooked into the unread notifications count once notifications have been enabled/build -->
                            {% if unread_notifications %}
                                <div class="indicator">
                                    <span class="indicator-item badge badge-error badge-xs left-4 top-2.5"></span>
                                    <a class="btn btn-ghost btn-sm">
                                        <i class="fa-solid fa-bell text-lg"></i>
                                    </a>
                                </div>
                            {% else %}
                                <a class="btn btn-ghost btn-sm">
                                    <i class="fa-regular fa-bell text-lg"></i>
                                </a>
                            {% endif %}

                            <div class="dropdown dropdown-end">
                                {% avatar request.user.first_name request.user.last_name button=True %}

                                <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box w-64 z-[1] mt-3 p-2 shadow">
                                    <li>
                                        <a>
                                            <i class="fa-solid fa-user"></i>{% translate "Profile" %}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url "two_factor:profile" %}">
                                            <i class="fa-solid fa-key"></i>{% translate "Authentication settings" %}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </header>

                {% if request.user.is_authenticated and request.user.is_staff %}
                    {% if "backend" in request.path %}
                        <div class="bg-orange-200 text-orange-800 px-4 py-2.5 text-sm dark:bg-orange-950 dark:text-orange-200 border-b border-neutral">
                            <div class="flex flex-row gap-4 items-center">
                                <div class="hidden laptop:flex">
                                    <i class="fa-solid fa-user-shield text-xl"></i>
                                </div>

                                <div class="flex flex-col flex-1 gap-2 laptop:gap-0 items-center laptop:items-start">
                                    <span class="font-semibold"><i class="fa-solid fa-user-shield laptop:hidden mr-2"></i>{% translate "Admin area" %}</span>
                                    <a href="#" class="btn btn-sm w-full laptop:hidden">
                                        {% translate "Switch to the members area" %}
                                    </a>
                                </div>

                                <div class="hidden laptop:flex">
                                    <a href="#" class="btn btn-sm">
                                        {% translate "Switch to the members area" %}
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="bg-blue-200 text-blue-800 px-4 py-2.5 text-sm dark:bg-blue-950 dark:text-blue-200 border-b border-neutral">
                            <div class="flex flex-row gap-4 items-center">
                                <div class="hidden laptop:flex">
                                    <i class="fa-solid fa-user text-xl"></i>
                                </div>

                                <div class="flex flex-col flex-1 gap-2 laptop:gap-0 items-center laptop:items-start">
                                    <span class="font-semibold"><i class="fa-solid fa-user laptop:hidden mr-2"></i>{% translate "Member area" %}</span>
                                    <a href="#" class="btn btn-sm w-full laptop:hidden">
                                        {% translate "Switch to the admin area" %}
                                    </a>
                                </div>

                                <div class="hidden laptop:flex">
                                    <a href="#" class="btn btn-sm">
                                        {% translate "Switch to the admin area" %}
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}

                <div class="flex flex-row gap-2">
                    <ul class="menu bg-base-200 w-60 py-2 px-4 m-2 rounded-lg hidden laptop:flex">
                        {% if "backend" in request.path %}
                            {% include "clubmanager/_menu_backend.html" %}
                        {% else %}
                            {% include "clubmanager/_menu_frontend.html" %}
                        {% endif %}
                    </ul>

                    <div class="bg-base-100 grow py-8 pl-4 pr-4 laptop:pr-8">
                        {% block page_title %}

                        {% endblock page_title %}

                        {% if messages %}
                            <div class="flex flex-col p-2 m-4 -mt-8 gap-y-2">
                                {% for message in messages %}
                                    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                        <div role="alert" class="alert alert-success">
                                            <i class="text-lg fa-solid fa-check"></i>
                                            <span>{{ message|safe }}</span>
                                        </div>
                                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                                        <div role="alert" class="alert alert-warning">
                                            <i class="text-lg fa-solid fa-ban"></i>
                                            <span>{{ message|safe }}</span>
                                        </div>
                                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                        <div role="alert" class="alert alert-error">
                                            <i class="text-lg fa-solid fa-exclamation"></i>
                                            <span>{{ message|safe }}</span>
                                        </div>
                                    {% else %}
                                        <div role="alert" class="alert alert-info">
                                            <i class="text-lg fa-solid fa-info"></i>
                                            <span>{{ message|safe }}</span>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}

                        {% block page_content %}
                            CONTENT GOES HERE
                        {% endblock page_content %}
                    </div>
                </div>

                <footer class="footer bg-neutral text-neutral-content items-center p-4">
                    <aside class="grid-flow-col items-center">
                        <p>ClubManager &copy; {% now "Y" %} - MIT license</p>
                    </aside>

                    <nav class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
                        <a href="https://github.com/bsiebens/ClubManager">
                            <i class="fa-brands fa-github text-xl"></i>
                        </a>
                    </nav>
                </footer>
            </div>

            <div class="drawer-side">
                <label for="menu-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
                <ul class="menu bg-base-200 min-h-full w-80 p-4">
                    {% if "backend" in request.path %}
                        {% include "clubmanager/_menu_backend.html" %}
                    {% else %}
                        {% include "clubmanager/_menu_frontend.html" %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </body>
</html>