<!-- clubmanager/_menu_backend.html -->

{% load i18n %}
{% load rules %}

{% has_perm "members.view_member" request.user as has_member_rights %}
{% has_perm "teams.view_season" request.user as has_season_rights %}
{% has_perm "teams.view_teamrole" request.user as has_teamrole_rights %}
{% has_perm "teams.view_numberpool" request.user as has_numberpool_rights %}

<li class="mb-4">
    {% if has_member_rights %}
        <span class="menu_title">{% translate "Members" %}</span>

        {% url "backend:members:members_list" as members_list %}
        <a href="{{ members_list }}" {% if members_list in request.path %}class="active"{% endif %}>
            <i class="fa-solid fa-users min-w-5"></i>
            {% translate "Members" %}
        </a>
    {% endif %}

    {% if config.CLUBMANAGER_ENABLE_TEAMS %}
        <span class="menu_title">{% translate "Teams" %}</span>

        {% if has_season_rights %}
            {% url "backend:teams:seasons_list" as seasons_list %}
            <a href="{{ seasons_list }}" {% if seasons_list in request.path %}class="active"{% endif %}>
                <i class="fa-solid fa-calendar-days min-w-5"></i>
                {% translate "Seasons" %}
            </a>
        {% endif %}
        
        {% if has_teamrole_rights %}
            {% url "backend:teams:teamroles_list" as teamroles_list %}
            <a href="{{ teamroles_list }}" {% if teamroles_list in request.path %}class="active"{% endif %}>
                <i class="fa-solid fa-user-circle min-w-5"></i>
                {% translate "Team Roles" %}
            </a>
        {% endif %}

        {% if has_numberpool_rights %}
            {% url "backend:teams:numberpools_list" as numberpools_list %}
            <a href="{{ numberpools_list }}" {% if numberpools_list in request.path %}class="active"{% endif %}>
                <i class="fa-solid fa-layer-group min-w-5"></i>
                {% translate "Number Pools" %}
            </a>
        {% endif %}
    {% endif %}

    {% if request.user.is_superuser %}
        <span class="menu_title">ClubManager</span>
        {% url "backend:configuration" as configuration %}
        <a href="{{ configuration }}" {% if configuration in request.path %}class="active"{% endif %}>
            <i class="fa-solid fa-screwdriver-wrench min-w-5"></i>
            {% translate "Configuration" %}
        </a>
    {% endif %}
</li>