{% load tailwind_tags %}
{% load static %}
{% load webpush_notifications %}
{% load django_htmx %}
{% load i18n %}
{% load partials %}

{% partialdef icons %}
    {% partial conversations_icon %}
    {% partial notifications_icon %}
{% endpartialdef icons %}

<!DOCTYPE html>

{% with CM_CLUB_NAME=config.CM_CLUB_NAME CM_CLUB_LOGO=config.CM_CLUB_LOGO %}
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

            <title>
                ClubManager{% if CM_CLUB_NAME != "ClubManager" %} - {{ CM_CLUB_NAME }}{% endif %}
            </title>

            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js@11.1.0/public/assets/styles/choices.min.css" />
            <script src="https://cdn.jsdelivr.net/npm/choices.js@11.1.0/public/assets/scripts/choices.min.js"></script>

            <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" rel="stylesheet" />

            {% htmx_script %}
            {% webpush_header %}
            {% tailwind_css %}
        </head>

        <body hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>
            {% url "clubmanager:news" as news_url %}
            {% url "clubmanager:calendar" as calendar_url %}
            {% url "clubmanager:notifications" as notifications_url %}
            {% url "clubmanager:conversations" as messages_url %}
            {% url "clubmanager:settings" as settings_url %}

            <div class="flex flex-col h-screen">
                <div class="navbar bg-neutral text-neutral-content w-full px-4 py-2 z-50 min-h-fit">
                    <div class="flex-1 lg:mx-2 lg:px-2 gap-2 flex flex-row items-center text-2xl font-jersey tracking-wide">
                        <a href="{% url "home" %}" class="flex flex-row items-center gap-2">
                            {% if CM_CLUB_LOGO != "" %}
                                <div class="h-16 aspect-[1/1] my-2 hidden lg:flex">
                                    <img src="{% static CM_CLUB_LOGO %}" class="p-1 bg-base-100 rounded-full object-contain" alt="{{ CM_CLUB_NAME }} logo" />
                                </div>
                            {% endif %}

                            <div>
                                {% if CM_CLUB_NAME != "ClubManager" %}
                                    <span>{{ CM_CLUB_NAME }}</span>
                                    <span class="hidden lg:flex">ClubManager</span>
                                {% else %}
                                    <span>ClubManager</span>
                                {% endif %}
                            </div>
                        </a>
                    </div>

                    <div>
                        <ul class="menu menu-horizontal gap-2" hx-trigger="every 10s" hx-get="{% url "clubmanager:check" %}" hx-target="#conversations_icon" hx-swap="outerHTML">
                            <li class="border rounded-md border-neutral {% if calendar_url in request.path %}border-neutral-content{% endif %} hover:border-neutral-content hidden lg:block">
                                <a href="{{ calendar_url }}" class="group">
                                    <span class="flex flex-row items-center gap-2">
                                        <span class="icon icon-rounded group-hover:icon-filled {% if calendar_url in request.path %}icon-filled{% endif %}">calendar_month</span>
                                        <span>{% translate "Calendar" %}</span>
                                    </span>
                                </a>
                            </li>

                            <li  class="border rounded-md border-neutral {% if conversations_url in request.path %}border-neutral-content{% endif %} hover:border-neutral-content hidden lg:block">
                                <a href="{{ conversations_url }}" class="group">
                                    <span class="flex flex-row items-center gap-2">
                                        {% partialdef conversations_icon inline %}
                                            {% if unread_messages_count >= 1 %}
                                                <span class="indicator" id="conversations_icon">
                                                    <span class="indicator-item status status-error"></span>
                                                    <span class="icon icon-rounded group-hover:icon-filled {% if conversations_url in request.path %}icon-filled{% endif %}">chat_bubble</span>
                                                </span>
                                            {% else %}
                                                <span id="conversations_icon" class="icon icon-rounded group-hover:icon-filled {% if conversations_url in request.path %}icon-filled{% endif %}">chat_bubble</span>
                                            {% endif %}
                                        {% endpartialdef conversations_icon %}

                                        <span>{% translate "Conversations" %}</span>
                                    </span>
                                </a>
                            </li>

                            <li  class="border rounded-md border-neutral {% if notifications_url in request.path %}border-neutral-content{% endif %} hover:border-neutral-content hidden lg:block">
                                <a href="{{ notifications_url }}" class="group">
                                    <span class="flex flex-row items-center gap-2">
                                        {% partialdef notifications_icon inline %}
                                            {% if unread_notification_count >= 1 %}
                                                <span class="indicator" id="notifications_icon" hx-swap-oob="outerHTML">
                                                    <span class="indicator-item status status-error"></span>
                                                    <span class="icon icon-rounded group-hover:icon-filled {% if notifications_url in request.path %}icon-filled{% endif %}">notifications</span>
                                                </span>
                                            {% else %}
                                                <span hx-swap-oob="outerHTML" id="notifications_icon" class="icon icon-rounded group-hover:icon-filled {% if notifications_url in request.path %}icon-filled{% endif %}">notifications</span>
                                            {% endif %}
                                        {% endpartialdef notifications_icon %}

                                        <span>{% translate "Notifications" %}</span>
                                    </span>
                                </a>
                            </li>

                            <li class="border rounded-md border-neutral {% if settings_url in request.path %}border-neutral-content{% endif %} hover:border-neutral-content hidden lg:block">
                                <a href="{{ settings_url }}" class="group">
                                    <span class="flex flex-row items-center gap-2">
                                        <span class="icon icon-rounded group-hover:icon-filled {% if settings_url in request.path %}icon-filled{% endif %}">settings</span>
                                        <span>{% translate "Settings" %}</span>
                                    </span>
                                </a>
                            </li>

                            {% if request.user.is_staff %}
                                <li  class="border rounded-md border-neutral {% if settings_url in request.path %}border-neutral-content{% endif %} hover:border-neutral-content hidden lg:block">
                                    <a href="{{ settings_url }}" class="group">
                                    <span class="flex flex-row items-center gap-2">
                                        <span class="icon icon-rounded group-hover:icon-filled {% if settings_url in request.path %}icon-filled{% endif %}">shield_person</span>
                                        <span>{% translate "Admin" %}</span>
                                    </span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>


            {% block title %}{% endblock title %}

            {% block content %}{% endblock content %}
        </body>
    </html>
{% endwith %}