{% extends "ClubManager/base.html" %}

{% load i18n %}
{% load partials %}
{% load avatar %}

{% block title %}{% translate "Calendar" %}{% endblock title %}

{% partialdef registration_update %}
    {% partial registration_status_list %}
    {% partial registration_status_modal %}
{% endpartialdef %}

{% block content %}
    <div class="flex flex-col gap-4 lg:gap-8 w-full lg:mr-4">
        {% for activity in activities %}
            <div class="flex flex-row gap-4">
                <div class="w-16 opacity-75 mx-auto hidden lg:flex">
                    {% ifchanged %}
                        <div class="border border-base-300 rounded-md items-center w-full shadow-md h-fit">
                            <div class="text-center w-full font-semibold text-xs font-jersey border-b border-base-300 rounded-t-md px-2 py-1 bg-accent text-accent-content">{{ activity.start_time|date:"D" }}</div>
                            <div class="text-center w-full font-semibold font-jersey text-2xl px-2">{{ activity.start_time|date:"d" }}</div>
                            <div class="text-center w-full font-semibold text-xs font-jersey pb-1">{{ activity.start_time|date:"M" }}</div>
                        </div>
                    {% endifchanged %}
                </div>

                <div class="hidden lg:flex items-start">
                    <span class="icon icon-rounded text-xl bg-base-300 p-2 m-1 mask mask-circle opacity-85">{{ activity.type.logo }}</span>
                </div>

                <div class="border border-base-300 rounded-lg p-4 shadow-md gap-1 w-full flex flex-row gap-2">
                    <div class="w-1.5 h-full rounded-xl {% if activity.type.type == "practice" %}bg-primary{% elif activity.type.type == "game" %}bg-accent{% else %}bg-secondary{% endif %}">&nbsp;</div>

                    <div class="flex flex-col w-full">
                        <div class="flex flex-row justify-between items-center">
                            <div class="font-jersey font-bold text-xl">
                                {% if activity.type.type == "game" %}
                                    {% if activity.opponent %}
                                        <span class="lg:hidden">{{ activity.team.short_name }}</span><span class="hidden lg:inline">{{ activity.team.name }}</span> vs. {{ activity.opponent }}
                                    {% else %}
                                        {% translate "Game" %} {{ activity.team.name }}
                                    {% endif %}
                                {% else %}
                                    {{ activity.title }}
                                {% endif %}
                            </div>

                            <div class="badge badge-sm {% if activity.type.type == "practice" %}badge-primary{% elif activity.type.type == "game" %}badge-accent{% else %}badge-secondary{% endif %} shadow-md">{{ activity.type|lower }}</div>
                        </div>

                        <div class="flex flex-col lg:flex-row gap-2 opacity-75 text-md mt-2 w-full justify-between">
                            <div class="flex flex-row basis-1/2">
                                <div class="flex items-center grow"><span class="icon icon-rounded icon-20 mr-1">schedule</span><span class="lg:hidden">{{ activity.start_time|date:"D d/m" }} </span>{{ activity.start_time|date:"H:i" }} - {{ activity.end_time|date:"H:i" }}</div>
                                <div class="flex items-center grow"><span class="icon icon-rounded icon-20 mr-1">arrows_input</span>{{ activity.gathering_time|date:"H:i" }}</div>
                            </div>
                            <div class="flex items-center basis-1/2">
                                {% if activity.location is not None %}<span class="icon icon-rounded icon-20 mr-1">location_on</span>{{ activity.location }}{% endif %}
                            </div>


{#                            <div class="basis-2/3 lg:basis-1/4 flex items-center"><span class="icon icon-rounded icon-20 mr-1">schedule</span><span class="lg:hidden">{{ activity.start_time|date:"D d/m" }} </span>{{ activity.start_time|date:"H:i" }} - {{ activity.end_time|date:"H:i" }}</div>#}
{#                            <div class="basis-1/3 lg:basis-1/4 flex items-center"><span class="icon icon-rounded icon-20 mr-1">arrows_input</span>{{ activity.gathering_time|date:"H:i" }}</div>#}
{#                            <div class="hidden lg:flex basis-1/2 flex items-center">#}
{#                                {% if activity.location is not None %}<span class="icon icon-rounded icon-20 mr-1">location_on</span>{{ activity.location }}{% endif %}#}
{#                            </div>#}
                        </div>

                        <div class="mt-2 border-t border-base-300 pt-2 flex flex-col gap-2">
                            <div class="flex flex-row items-center gap-2">
                                <div class="text-sm font-bold opacity-75 grow">{% translate "Registrations" %}</div>
                                <div class="badge badge-outline badge-sm">
                                    {% if activity.is_open %}
                                        <div class="status status-success"></div>{% translate "registrations open" %}
                                    {% else %}
                                        <div class="status status-error"></div>{% translate "registrations closed" %}
                                    {% endif %}
                                </div>
                            </div>

                            <ul class="list">
                                {% for registration in activity.my_registrations %}
                                    {% partialdef registration_status_list inline %}
                                        <li class="list-row items-center" id="registration_status_{{ registration.pk }}">
                                            <div class="list-col-grow">
                                                <div class="flex flex-row gap-2 items-center">
                                                    <div class="hidden lg:flex">{% avatar first_name=registration.member.user.first_name last_name=registration.member.user.last_name width="sm" %}</div>
                                                    <div class="text-sm">{{ registration.member }}</div>
                                                </div>
                                            </div>

                                            {% if registration.response == "selected" %}
                                                <div class="btn btn-circle btn-success btn-sm pointer-events-none"><span class="icon icon-rounded">check</span></div>
                                                <div>{% translate "selected" %}</div>
                                            {% elif registration.response == "not_selected" %}
                                                <div class="btn btn-circle btn-error btn-sm pointer-events-none"><span class="icon icon-rounded">close</span></div>
                                                <div>{% translate "not selected" %}</div>
                                            {% else %}
                                                {% if activity.is_open %}
                                                    <a x-target="registration_status_{{ registration.pk }} registrations_activity_{{ activity.pk }}" href="{% url "clubmanager:calendar-update-response" registration.pk "attending" %}" class="btn btn-circle btn-sm {% if registration.response == "attending" %}btn-success{% endif %}"><span class="icon icon-rounded">check</span></a>
                                                    <a x-target="registration_status_{{ registration.pk }} registrations_activity_{{ activity.pk }}" href="{% url "clubmanager:calendar-update-response" registration.pk "no_response" %}" class="btn btn-circle btn-sm {% if registration.response == "no_response" %}btn-info{% endif %}"><span class="icon icon-rounded icon-20">question_mark</span></a>
                                                    <a x-data x-on:click.prevent="$dispatch('open-modal', { registration_pk: '{{ registration.pk }}', activity_pk: '{{ activity.pk }}' })" href="{% url "clubmanager:calendar-update-response" registration.pk "not_attending" %}" class="btn btn-circle btn-sm {% if registration.response == "not_attending" %}btn-error{% endif %}"><span class="icon icon-rounded">close</span></a>
                                                {% else %}
                                                    <div class="btn btn-circle {% if registration.response == "attending" %}btn-success{% endif %} btn-sm pointer-events-none"><span class="icon icon-rounded">check</span></div>
                                                    <div class="btn btn-circle {% if registration.response == "no_response" %}btn-info{% endif %} btn-sm pointer-events-none"><span class="icon icon-rounded icon-20">question_mark</span></div>
                                                    <div class="btn btn-circle {% if registration.response == "not_attending" %}btn-error{% endif %} btn-sm pointer-events-none"><span class="icon icon-rounded">close</span></div>
                                                {% endif %}
                                            {% endif %}
                                        </li>
                                    {% endpartialdef %}
                                {% endfor %}
                            </ul>

                            <button class="btn btn-outline btn-sm my-1" onclick="registrations_activity_{{ activity.pk }}.showModal()"><span class="icon icon-rounded icon-20">list</span>{% translate "All members" %}</button>

                            {% with all_registrations=activity.all_registrations %}
                                {% partialdef registration_status_modal inline %}
                                    <dialog class="modal modal-bottom sm:modal-middle" id="registrations_activity_{{ activity.pk }}">
                                        <div class="modal-box min-w-1/2 max-w-5xl">
                                            <h3 class="text-lg font-bold mb-2">{% translate "Registrations" %}</h3>

                                            {% for status, registrations in all_registrations.items %}
                                                {% if registrations|length > 0 %}
                                                    <div class="pb-1 mb-2 border-b border-base-300 text-sm font-semibold">{{ status|capfirst }} ({{ registrations|length }})</div>
                                                    <div class="grid grid-cols-2 lg:grid-cols-3 gap-2 mb-4">
                                                        {% for registration in registrations %}
                                                            <div class="flex flex-row gap-1 items-center">
                                                                <div class="hidden lg:flex">{% avatar first_name=registration.member.user.first_name last_name=registration.member.user.last_name width="sm" %}</div>
                                                                <div class="text-sm">{{ registration.member }}</div>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                            {% endfor %}

                                            <div class="modal-action">
                                                <form method="dialog">
                                                    <button class="btn btn-neutral btn-outline">{% translate "Close" %}</button>
                                                </form>
                                            </div>
                                        </div>
                                    </dialog>
                                {% endpartialdef %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div x-data="{ show: false, registration_pk: null, activity_pk: null, comment: '' }" x-on:open-modal.window="
        registration_pk = $event.detail.registration_pk;
        activity_pk = $event.detail.activity_pk;
        comment = '';
        show = true;
        $refs.modal.showModal();">

        <dialog x-ref="modal" class="modal modal-bottom sm:modal-middle" x-show="show" x-on:close="show = false; comment = '';" x-on:registration-updated.window="$refs.modal.close()">
            <div class="modal-box min-w-1/2 max-w-5xl">
                <h3 class="text-lg font-bold mb-2">{% translate "Not attending" %}</h3>
                <div class="text-sm mb-2">{% translate "Please provide a reason why you cannot attend." %}</div>

                <form method="post" action="{% url 'clubmanager:calendar' %}" x-target:dynamic="`registration_status_${registration_pk} registrations_activity_${activity_pk}`" x-on:submit="$refs.modal.close(); show = false;">
                    {% csrf_token %}
                    <textarea name="comment" class="textarea w-full" x-model="comment" required></textarea>
                    <input type="hidden" name="registration_pk" x-bind:value="registration_pk" />
                    <input type="hidden" name="response" value="not_attending" />

                    <div class="modal-action">
                        <button type="submit" class="btn btn-neutral"><span class="icon icon-rounded icon-20">save</span>{% translate "Save" %}</button>
                        <button type="button" class="btn btn-neutral btn-outline" x-on:click="$refs.modal.close(); show = false; comment = '';">{% translate "Cancel" %}</button>
                    </div>
                </form>
            </div>
        </dialog>
    </div>
{% endblock content %}