{% extends "ClubManager/base.html" %}

{% load i18n %}
{% load partials %}

{% block title %}{% translate "Notifications" %}{% endblock title %}

{% partialdef notification_update %}
    {% partial notification_list %}
    {% include "notifications/notification.html" %}
{% endpartialdef %}

{% block content %}
    {% if notifications|length > 0 %}
        <div class="flex flex-row gap-2 justify-center lg:justify-end lg:-mt-14">
            <a class="btn btn-xs" x-target="notification_list notification_icon" href="{% url "clubmanager:notifications-mark-all-read" %}">{% translate "Mark all as read" %}</a>
            <a class="btn btn-xs" x-target="notification_list" href="{% url "clubmanager:notifications-delete-all-read" %}">{% translate "Delete all read notifications" %}</a>
        </div>
    {% endif %}

    {% partialdef notification_list inline %}
        <ul class="list bg-base-100 my-8" id="notification_list">
            {% if notifications|length == 0 %}
                <span class="items-center"><i class="fa-solid fa-thumbs-up mr-2"></i>{% translate "All caught up!" %}</span>
            {% endif %}

            {% for notification in notifications %}
                {% if notification.get_absolute_url != "" %}
                    <a href="{% url "clubmanager:notifications-read" notification.pk %}">
                {% endif %}

                <li class="list-row items-center">
                    <div>
                        {% if not notification.is_read %}
                            <div class="indicator">
                                <span class="indicator-item status status-error"></span>
                        {% endif %}

                        {% if notification.notification_type == "calendar" %}
                            <i class="fa-solid fa-calendar-days text-xl bg-base-300 p-2 m-1 mask mask-circle opacity-75"></i>
                        {% elif notification.notification_type == "registration" %}
                            {% if notification.target.type.type == "practice" %}
                                <i class="fa-solid fa-hockey-puck text-xl bg-base-300 p-2 m-1 mask mask-circle opacity-75"></i>
                            {% elif notification.target.type.type == "game" %}
                                <i class="fa-solid fa-trophy text-xl bg-base-300 p-2 m-1 mask mask-circle opacity-75"></i>
                            {% else %}
                                <i class="fa-solid fa-calendar-days text-xl bg-base-300 p-2 m-1 mask mask-circle opacity-75"></i>
                            {% endif %}
                        {% else %}
                            <i class="fa-solid fa-bell text-xl bg-base-300 p-2 m-1 mask mask-circle opacity-75"></i>
                        {% endif %}

                        {% if not notification.is_read %}
                            </div>
                        {% endif %}
                    </div>

                    <div>
                        <div class="font-semibold">{{ notification.get_subject }}</div>
                        <div class="opacity-60 text-xs">{{ notification.get_text|safe }}</div>
                        <div class="opacity-60 text-xs lg:hidden">{{ notification.added|date:"d b Y H:i" }}</div>
                    </div>

                    <div class="text-xs opacity-60 font-semibold hidden lg:block">{{ notification.added|date:"d b Y H:i" }}</div>

                    {% if notification.get_absolute_url != "" %}
                        <i class="fa-solid fa-chevron-right text-xl"></i>
                    {% else %}
                        <i class="fa-solid fa-chevron-right text-xl opacity-0"></i>
                    {% endif %}
                </li>

                {% if notification.get_absolute_url != "" %}
                    </a>
                {% endif %}
            {% endfor %}
        </ul>
    {% endpartialdef %}
{% endblock content %}