{% extends "ClubManager/base.html" %}

{% load i18n %}
{% load partials %}

{% block title %}{% translate "Notifications" %}{% endblock title %}

{% partialdef notification_update %}
    {% partial notification_list %}
    {% include "notifications/notification.html" %}
{% endpartialdef %}

{% block content %}
    {% if notifications|length > 0 %}
        <div class="flex flex-row gap-2 justify-center lg:justify-end lg:-mt-14">
            <a class="btn btn-xs" x-target="notification_list notification_icon" href="{% url "clubmanager:notifications-mark-all-read" %}">{% translate "Mark all as read" %}</a>
            <a class="btn btn-xs" x-target="notification_list" href="{% url "clubmanager:notifications-delete-all-read" %}">{% translate "Delete all read notifications" %}</a>
        </div>
    {% endif %}

    {% partialdef notification_list inline %}
        <ul class="list bg-base-100 my-8" id="notification_list">
            {% if notifications|length == 0 %}
                <span class="items-center flex flex-row gap-2">
                    <span class="icon icon-rounded">thumb_up</span>
                    <span>{% translate "All caught up!" %}</span>
                </span>
            {% endif %}

            {% for notification in notifications %}
                {% if notification.get_absolute_url != "" %}
                    <a href="{% url "clubmanager:notifications-read" notification.pk %}">
                {% endif %}

                <li class="list-row items-center">
                    <div>
                        {% if notification.notification_type == "calendar" %}
                            <span class="icon icon-rounded text-xl bg-base-300 p-2 mask mask-circle opacity-85">calendar_month</span>
                        {% elif notification.notification_type == "registration" %}
                            {% if notification.target.type.type == "practice" %}
                                <span class="icon icon-rounded text-xl bg-base-300 p-2 m-1 mask mask-circle opacity-85">fitness_center</span>
                            {% elif notification.target.type.type == "game" %}
                                <span class="icon icon-rounded text-xl bg-base-300 p-2 mask mask-circle opacity-85">sports_hockey</span>
                            {% else %}
                                <span class="icon icon-rounded text-xl bg-base-300 p-2 mask mask-circle opacity-85">calendar_month</span>
                            {% endif %}
                        {% else %}
                            <span class="icon icon-rounded text-xl bg-base-300 p-2 mask mask-circle opacity-85">notifications</span>
                        {% endif %}
                    </div>

                    <div>
                        <div class="font-semibold items-center">{{ notification.get_subject }}{% if not notification.is_read %}<div class="status status-error ml-2"></div>{% endif %}</div>
                        <div class="opacity-60 text-xs">{{ notification.get_text|safe }}</div>
                        <div class="opacity-60 text-xs lg:hidden">{{ notification.added|date:"d b Y H:i" }}</div>
                    </div>

                    <div class="text-xs opacity-60 font-semibold hidden lg:block">{{ notification.added|date:"d b Y H:i" }}</div>

                    {% if notification.get_absolute_url != "" %}
                        <span class="icon icon-rounded icon-40 text-5xl">chevron_right</span>
                    {% else %}
                        <span class="icon icon-rounded text-4xl opacity-0">chevron_right</span>
                    {% endif %}
                </li>

                {% if notification.get_absolute_url != "" %}
                    </a>
                {% endif %}
            {% endfor %}
        </ul>
    {% endpartialdef %}
{% endblock content %}